

body {
    background-image:url(pic/backGround_02.jpg);
    background-size: cover; /* 适应屏幕大小 */
    background-position: center; /* 图片居中显示 */
    background-repeat: no-repeat; /* 不重复显示背景图 */
}


#logo {
    color: #00508e;
}

/* Style the content */
.content {
    background-color: #ddd;
    padding: 10px;
    height: 200px;
    /* Should be removed. Only for demonstration */
}

/* Style the footer */
.footer {
    background-color: #00508e;
    text-align: center;
  color: rgb(255, 255, 255);
    padding: 10px;
}