

body {
    background-image:url(./pic/backGround_02.jpg);
    background-attachment: fixed;
    background-size: cover; /* 适应屏幕大小 */
    background-position: center; /* 图片居中显示 */
    background-repeat: no-repeat; /* 不重复显示背景图 */
}


body {
    margin: 0;
    padding: 0;
  }
  
  .parallax-container {
    overflow: hidden;
    height: 100vh;
  }
  
  .parallax-item {
    position: relative;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
  }
  
  .layer1 {
    background-image: url('./pic/Starbg001.png'); /* Replace 'background1.png' with your image file */
  }
  
  .layer2 {
    background-image: url('./pic/Starbg002.png'); /* Replace 'background2.png' with your image file */
  }




/*頁面標題設定*/
h1 {
    width: 350px;
    margin: 40px auto;
    padding: 30px;
    color: #fff;
    font-size: 300%;
    border-radius:30% 60% 60% 50% / 80% 40% 70% 30%;
    text-align: center;
    line-height: 1.5;
    text-shadow: 2px 2px 5px #1f0522;
}
#logo {
    color: #00508e;
}

/* Style the content */
.content {
    background-color: #ddd;
    padding: 10px;
    height: 200px;
    /* Should be removed. Only for demonstration */
}

/* Style the footer */
.footer {
    background-color: #00508e;
    text-align: center;
  color: rgb(255, 255, 255);
    padding: 10px;
}