

body {
    background-image:url(../pic/backGround_02.jpg);
    background-size: cover; /* 适应屏幕大小 */
    background-position: center; /* 图片居中显示 */
    background-repeat: no-repeat; /* 不重复显示背景图 */
}

/*頁面標題設定*/
h1 {
    width: 350px;
    margin: 40px auto;
    padding: 30px;
    color: #fff;
    font-size: 300%;
    border-radius:30% 60% 60% 50% / 80% 40% 70% 30%;
    text-align: center;
    line-height: 1.5;
    text-shadow: 2px 2px 5px #1f0522;
}
#logo {
    color: #00508e;
}

/* Style the content */
.content {
    background-color: #ddd;
    padding: 10px;
    height: 200px;
    /* Should be removed. Only for demonstration */
}

/* Style the footer */
.footer {
    background-color: #00508e;
    text-align: center;
  color: rgb(255, 255, 255);
    padding: 10px;
}